{:kotoba.app/id "cloud.itonami.isic-0161", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifwodttmm2eqrjsty4xibkl2adqwieasywshb42xvp7zifiprhkrq", :kotoba.app/embed-url "ipfs://bafkreifwodttmm2eqrjsty4xibkl2adqwieasywshb42xvp7zifiprhkrq", :published {:archive "https://kotobase.net/ipfs/bafkreifwodttmm2eqrjsty4xibkl2adqwieasywshb42xvp7zifiprhkrq", :size 72467, :put-status 201, :get-status 200, :at "2026-08-15T13:52:00.225Z"}}
